.heading{
    margin: 0px;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 24px;
    box-shadow: black 3px 3px 2px;
    border-radius: 12px;
}
.information{
    font-size: 15px;
    color: black;
}
body{
    background-image: url("fontimagedoodles.png");
    background-position: center;
    background-size: cover;
}
#footbar{
    position:fixed;
    bottom:0;
    background-color: cadetblue;
    text-align: center;
    width: 100%;
    color:white;  
    line-height: 4;
}